.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main {
  margin: 0;
  padding: 0;
  list-style: none;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion .soua-accordion-content {
  display: none;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion-title {
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 3;
  text-indent: 15px;
  user-select: none;
  text-decoration: none;
  padding: 0 20px;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion-title:after {
  width: 8px;
  height: 8px;
  border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78;
  position: absolute;
  left: 10px;
  content: " ";
  top: 20px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion .soua-accordion-content {
  padding: 10px;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-accordion-title.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion .soua-accordion-title {
  color: #000000;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion .soua-accordion-title:hover {
  color: #000000;
}
.so-widget-db-faqs-faqs-style-ee1314a80a4e .soua-main .soua-accordion .soua-accordion-content {
  color: #000000;
}