.so-widget-db-faqs-faqs-style-7f234ddb2258 .db-main .db-accordion .db-accordion-title {
  color: #000000;
}
.so-widget-db-faqs-faqs-style-7f234ddb2258 .db-main .db-accordion .db-accordion-title:hover {
  color: #000000;
}
.so-widget-db-faqs-faqs-style-7f234ddb2258 .db-main .db-accordion .db-accordion-content {
  color: #000000;
}