.so-widget-db-products-default-d70df26b377f .db-product-wrapper .product-feature-image {
  background-color: #f5f5f5;
}
.so-widget-db-products-default-d70df26b377f .db-product-wrapper .info {
  background-color: #1B85BD;
  color: #ffffff;
}