.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom {
  zoom: 1;
  padding-top: 20px;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom:before {
  content: '';
  display: block;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column {
  float: left;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-title {
  background: #4f9db6;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3e7f94),color-stop(1,#4f9db6));
  background: -ms-linear-gradient(bottom,#3e7f94,#4f9db6);
  background: -moz-linear-gradient(center bottom,#3e7f94 0%,#4f9db6 100%);
  background: -o-linear-gradient(#4f9db6,#3e7f94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f9db6', endColorstr='#3e7f94', GradientType=0);
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  border: 1px solid #2f6070;
  border-bottom: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  font-size: 1.1em;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-title .db-pt-subtitle {
  font-size: 0.9em;
  color: #F0F0F0;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-details {
  background: #61a7bd;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#539fb7),color-stop(1,#61a7bd));
  background: -ms-linear-gradient(bottom,#539fb7,#61a7bd);
  background: -moz-linear-gradient(center bottom,#539fb7 0%,#61a7bd 100%);
  background: -o-linear-gradient(#61a7bd,#539fb7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a7bd', endColorstr='#539fb7', GradientType=0);
  position: relative;
  padding: 15px 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #4a98b1;
  border-top-color: #2f6070;
  border-right-width: 0;
  -webkit-box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  text-align: center;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-details .db-pt-price {
  color: #FFFFFF;
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-details .db-pt-per {
  color: #ffffff;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-image {
  line-height: 0;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-image img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features {
  font-size: 0.925em;
  color: #5f6062;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature {
  padding: 15px 20px;
  background: #ffffff;
  background: #FFFFFF;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fcfcfc),color-stop(1,#FFFFFF));
  background: -ms-linear-gradient(bottom,#fcfcfc,#FFFFFF);
  background: -moz-linear-gradient(center bottom,#fcfcfc 0%,#FFFFFF 100%);
  background: -o-linear-gradient(#FFFFFF,#fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);
  text-shadow: 0 1px 0 #FFFFFF;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature.db-pt-feature-odd {
  background: #f1f1f1;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#eeeeee),color-stop(1,#f1f1f1));
  background: -ms-linear-gradient(bottom,#eeeeee,#f1f1f1);
  background: -moz-linear-gradient(center bottom,#eeeeee 0%,#f1f1f1 100%);
  background: -o-linear-gradient(#f1f1f1,#eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#eeeeee', GradientType=0);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature strong {
  font-weight: 500;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature p {
  margin: 0;
  display: inline-block;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature [class^="sdb-icon-"] {
  display: inline-block;
  margin-right: 0.5em;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature:last-child {
  border-bottom-width: 0;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-even .db-pt-features .db-pt-feature {
  background: #f9f9f9;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f6f6f6),color-stop(1,#f9f9f9));
  background: -ms-linear-gradient(bottom,#f6f6f6,#f9f9f9);
  background: -moz-linear-gradient(center bottom,#f6f6f6 0%,#f9f9f9 100%);
  background: -o-linear-gradient(#f9f9f9,#f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f6f6f6', GradientType=0);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-even .db-pt-features .db-pt-feature.db-pt-feature-odd {
  background: #eeeeee;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ebebeb),color-stop(1,#eeeeee));
  background: -ms-linear-gradient(bottom,#ebebeb,#eeeeee);
  background: -moz-linear-gradient(center bottom,#ebebeb 0%,#eeeeee 100%);
  background: -o-linear-gradient(#eeeeee,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ebebeb', GradientType=0);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-last .db-pt-details {
  border-right-width: 1px;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-last .db-pt-features .db-pt-feature {
  border-right-width: 1px;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-button {
  display: block;
  padding: 15px;
  text-align: center;
  background: #e8e8e8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#dadada),color-stop(1,#e8e8e8));
  background: -ms-linear-gradient(bottom,#dadada,#e8e8e8);
  background: -moz-linear-gradient(center bottom,#dadada 0%,#e8e8e8 100%);
  background: -o-linear-gradient(#e8e8e8,#dadada);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#dadada', GradientType=0);
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #cfcfcf;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-button a.db-pt-link {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.675em 1.25em;
  text-decoration: none;
  color: #FFFFFF;
  background: #4e4e4e;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#353535),color-stop(1,#4e4e4e));
  background: -ms-linear-gradient(bottom,#353535,#4e4e4e);
  background: -moz-linear-gradient(center bottom,#353535 0%,#4e4e4e 100%);
  background: -o-linear-gradient(#4e4e4e,#353535);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#353535', GradientType=0);
  border: 1px solid #1b1b1b;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  margin: 0;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-button a.db-pt-link:hover {
  background: #565656;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3c3c3c),color-stop(1,#565656));
  background: -ms-linear-gradient(bottom,#3c3c3c,#565656);
  background: -moz-linear-gradient(center bottom,#3c3c3c 0%,#565656 100%);
  background: -o-linear-gradient(#565656,#3c3c3c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#3c3c3c', GradientType=0);
  border: 1px solid #232323;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured {
  margin-top: -20px;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured .db-pt-title {
  padding: 30px 0;
  border-color: #192c32;
  background: #3b6876;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2a4a54),color-stop(1,#3b6876));
  background: -ms-linear-gradient(bottom,#2a4a54,#3b6876);
  background: -moz-linear-gradient(center bottom,#2a4a54 0%,#3b6876 100%);
  background: -o-linear-gradient(#3b6876,#2a4a54);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b6876', endColorstr='#2a4a54', GradientType=0);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured .db-pt-details {
  border-color: #38626f;
  border-top-color: #192c32;
  background: #447787;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3d6b79),color-stop(1,#447787));
  background: -ms-linear-gradient(bottom,#3d6b79,#447787);
  background: -moz-linear-gradient(center bottom,#3d6b79 0%,#447787 100%);
  background: -o-linear-gradient(#447787,#3d6b79);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#447787', endColorstr='#3d6b79', GradientType=0);
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured .db-pt-button a.db-pt-link {
  color: #FFFFF9;
  background: #c01c2b;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#931621),color-stop(1,#c01c2b));
  background: -ms-linear-gradient(bottom,#931621,#c01c2b);
  background: -moz-linear-gradient(center bottom,#931621 0%,#c01c2b 100%);
  background: -o-linear-gradient(#c01c2b,#931621);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01c2b', endColorstr='#931621', GradientType=0);
  border: 1px solid #670f17;
}
.so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured .db-pt-button a.db-pt-link:hover {
  background: #cd1e2e;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#a11724),color-stop(1,#cd1e2e));
  background: -ms-linear-gradient(bottom,#a11724,#cd1e2e);
  background: -moz-linear-gradient(center bottom,#a11724 0%,#cd1e2e 100%);
  background: -o-linear-gradient(#cd1e2e,#a11724);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd1e2e', endColorstr='#a11724', GradientType=0);
  border: 1px solid #74111a;
}
@media (max-width: 680px) {
  .so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom {
    padding-top: 0;
  }
  .so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column {
    float: none;
    width: auto !important;
    margin-bottom: 20px;
  }
  .so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column.db-pt-featured {
    margin-top: 0;
  }
  .so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-details {
    border-right-width: 1px;
  }
  .so-widget-db-price-table-atom-07587e813444 .db-pt-columns-atom .db-pt-column .db-pt-features .db-pt-feature {
    border-width: 0 1px 1px 1px;
  }
}