.so-widget-db-products-default-6e44acdf2ae7 .db-product-wrapper .product-feature-image {
  background-color: #f5f5f5;
}
.so-widget-db-products-default-6e44acdf2ae7 .db-product-wrapper .info {
  background-color: #1B85BD;
  color: #ffffff;
}
.so-widget-db-products-default-6e44acdf2ae7 .db-product-wrapper .info a {
  color: #ffffff;
}